**.vscode
**data
**rob831.egg-info
**.zip
**.csv
**.png
**__pycache__
**hw2/_minted-hw2_submission
**hw2/_minted-hw3_submission
**.fls
**.aux
**.log
**.fdb_latexmk
**.synctex.gz
**.out
**.gz
**.xdv
**.deb
**.pth
**runs
**input
**.pt
detection_logs
detection_logs_old